@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* **********************************************************
 * to import a font, use the @import option, you can find
 * lots of font options at fonts.google.com for example.
 *
 * remeber to apply the font-family name when you set 
 * the font-family property, see below.
 * ********************************************************** */


/* **********************************************************
 * custom styles including colors, font settings 
 * ********************************************************** */

:root {
 
  /* color */
  --color-bg: #f4f2eb;
  --color-fg: #374151;
  --color-link: #b91c1c;
  --color-link-hover: #ef4444;

  --color-header-bg: #f4f2eb;
  --color-header-fg: #846c62;
  --color-nav-link: #846c62;
  --color-nav-link-hover: #190502;
  
  --color-0: #09090b;
  --color-1: #e5e5e5;
  --color-2: #ccc;
  --color-3: #999;
  --color-4: #846c62;
  --color-5: #190502;
  --color-6: #1e40af;
  --color-7: #0e7490;
  --color-8: #64748b;

   /* font-size */
   --font-size-xs: 0.7rem;
   --font-size-s: 0.85rem;
   --font-size-m: 1.15rem; /* default font-size used */
   --font-size-l: 1.5rem;
   --font-size-xl: 2.0rem;
   --font-size-xxl: 2.5rem;
   --font-size-2x: 3rem;
   --font-size-3x: 4rem;
   --font-size-4x: 6rem;
 
}


 
html {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.font__primary {
    font-family: 'Inter', sans-serif;
}

.font__secondary {
    font-family: 'Lato', sans-serif;
}



/* **********************************************************
 * custom styles for text types
 * ********************************************************** */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: var(--font-size-l);
  font-weight: 500;
  margin-bottom: var(--spacing-l);
}

p {
  font-size: var(--font-size-m);
}


a {
  color: var(--color-link);
}

a:hover {
  color: var(--color-link-hover);
}




/* **********************************************************
 * custom styles for text types
 * ********************************************************** */

 .main__nav-bar {
  background-color: var(--color-header-bg);
 }

 
.main__nav-bar ul li {
  font-weight: 500;
  
}

.main__nav-bar ul li a {
  color: var(--color-nav-link);
}

.main__nav-bar ul li a:hover {
  color: var(--color-nav-link-hover);
}