/* **********************************************************
 * add custom styles after imports below
 * ********************************************************** */

@import "default.css";
@import "layout.css";
@import "menu.css";
@import "queries.css";
@import "custom.css"; /* use this css file to make changes to colors and font styles*/


/* **********************************************************
 * Customizing
 *
 * changes to default settings like colors, typography,
 * spacing can be made in default.css
 *
 * other custom settings, start below
 *
 * ********************************************************** */

* {
    line-height: 125%;
    font-weight: 400;
}

body {
    background-color: var(--color-bg);
    color: var(--color-fg);
}


@media (orientation: portrait) {
    * {
        font-size: 16px;
    }
}
